<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/ex-css/Grid.css">
    <link rel="stylesheet" href="/ex-css/ionicons.min.css">
    <link rel="stylesheet" href="/ex-css/normalize.css">
    <link rel="stylesheet" href="/ex-css/animate.css">
    <link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/tables.css">
    <title>Q-A Forum</title>
</head>
<body>
    <div class="main-container">           
        <div class="mini-container">
          <% if(data != null){ %>
            <table class="animated bounceIn">
                <tr>
                  <th>#</th>
                  <th>ID</th>
                  <th>Question ID</th>
                  <th>Answer</th>
                  <th>Answered By</th>
                  <th colspan="2">Actions</th>
                </tr>
                <% 
                var count = 0;
                data.forEach((data)=>{ 
                  count++;
                  %>
                <tr>
                  <td><%= count %></td>
                  <td><%=data._id%></td>
                  <td><%=data.qid%></td>
                  <td><%=data.answer%></td>
                  <td><%=data.answerby%></td>
                  <td><a href="/admin/answer/update/<%=data._id%>" target="_blank" class="update">Update</a></td>
                  <td><a href="/admin/deletinganswer/<%=data._id%>" target="_blank" class="delete">Delete</a></td>
                </tr>
                <%})}%>
               
              </table>
        </div>
    </div>
</body>
</html>