<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/ex-css/Grid.css">
    <link rel="stylesheet" href="/ex-css/ionicons.min.css">
    <link rel="stylesheet" href="/ex-css/normalize.css">
    <link rel="stylesheet" href="/ex-css/animate.css">
    <link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/client.css">
    <title>All Questions-Q-A Forum</title>
</head>
<body>
    <header class="header">
        <nav>
          <div class="navibar">
            <!-- <ul>
              <li><a href="#" class="open">Home</a></li>
              <li><a href="#">Queries</a></li>
              <li><a href="#">Posts</a></li>
              <li><a href="#">About us</a></li>
  
            </ul> -->
            <a href="/">
            <h5 class="textlogo">QA-Forum</h5>
          </a>
            <form action="/questionsearch/<%=allQuestions._id%>" method="GET">
                <input type="text" name="search" placeholder="Search.." id="mySearch">
            </form>
          </div>
          <div class="imgcircle">
            <%if(user.profile == null){%>
            <img src="/img/profile.jpg" alt="User image" id="clickImg">
            <%} else{%>
            <img src="/uploads/<%=user.profile%>" alt="User image" id="clickImg">
            <%}%>
            <div class="options animated FadeIn" id="options">   
              <div class="profilesection">
                <%if(user.profile == null){%>
                <img src="/img/profile.jpg" alt="User image" class="leftImg">
                <%} else{%>
                <img src="/uploads/<%=user.profile%>" alt="User image" class="leftImg">
                <%}%>
                <span class="name"><%=user.username%></span>
                <span class="email"><%=user.email%></span>
              </div>
              <div class="partSections">
                <button class="textInParts button"onclick="document.getElementById('id01').style.display='block'">Profile</button>
              </div>
  
              <div class="partSections">
                <h6 class="textInParts"><a href="/user/logout">Logout</a></h6>
              </div>
              <div class="partSections">
                <h6 class="textInParts"><a href="/user/logoutAll">Logout All</a></h6>
              </div>
            </div>
          </div>
  
        </nav>
      </header>
      <div class="contianerMain">
          <div class="leftSided">
              <div class="verticalnav">
            <ul>
              <li><a href="/">Home</a></li>
              <li><a href="/allquestions" class="open">All Questions</a></li>
              <li><a href="/about">About</a></li>
              <li><a href="/help">Help</a></li>
            </ul>
              </div>
          </div>
          <div class="center">
              <div class="upPart">
                  <h4 class="recent">All Questions</h4>
                  <a href="/questions/user/askpublicquestion" class="askQuestion">Ask Question</a>
                  <div class="btn-group">
                    <button>&nbsp;</button>
                    <button>&nbsp;</button>
                    <button>&nbsp;</button>
                  </div>
              </div>
             <% allQuestions.forEach((allQuestions)=>{  
               var a = moment(allQuestions.createdAt).fromNow('yy') + ' ago' ; %>
               
              <div class="questionsPart">
                  <div class="box">
                      <h6>&nbsp;</h6>
                      <p>&nbsp;</p>
                  </div>
                  <!-- <div class="box">
                    <h6>&nbsp;</h6>
                    <p>&nbsp</p>
                </div> -->
                <div id="myMenu">
                <div class="questionself li">
                    <h6><a href="/questions/<%=allQuestions._id%>" id="question"><%=allQuestions.title%></a></h6>   
                </div>
                <div class="AskedBy li">
                    <h6><a href="#question" id="askedtime">Asked <%=a%> </a></h6>   
                </div>
              </div>
              </div>

              <%})%>
          </div>
          <div class="rightsided">
              <h4 class="titleInRight">
                  Recent Asked Questions ?
              </h4>
              <% recent.forEach((recent)=>{  %>
              <div class="textLinks">
                  <a href="/questions/<%=recent._id%>"><%=recent.title%> ?</a>
              </div>
              <%})%>
          </div>
          <div id="id01" class="modal">
  
            <form class="modal-content animate" action="/user/profile" method="post" enctype="multipart/form-data">
              <div class="imgcontainer">
                <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">&times;</span>
                <%if(user.profile !== null){%>
                <img src="/uploads/<%=user.profile%>"  alt="Avatar" class="avatar" style="width: 200px; height: 200px;">
                <%} else{%>
                <img src="/img/profile.jpg"  alt="Avatar" class="avatar" style="width: 200px; height: 200px;">
                <%}%>
              </div>
          
              <div class="container">
                <span class="error" id="erruname" style="color: red; font-size: 12px;" ></span>
           
                <input type="text" placeholder="Enter Username" id="uname" name="uname"  value="<%=user.username%>" required>
          
                <span class="error" id="errimg" style="color: red; font-size: 12px;"></span>
                <input type="file" name="avatar" id="fileToUpload">
                  
                <button type="submit" class="pbupdate" id="btnprofile">Update</button>
              </div>
          
              <div class="container" style="background-color:#f1f1f1">
                <button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn">Cancel</button>
              </div>
            </form>
          </div>
          
          <script>
          // Get the modal
          var modal = document.getElementById('id01');
          
          // When the user clicks anywhere outside of the modal, close it
          window.onclick = function(event) {
              if (event.target == modal) {
                  modal.style.display = "none";
              }
          }
          </script>
      </div>
      <script src="/js/client.js"></script>
      <script src="/js/moment.js"></script>
      
</body>
</html>